//colors
$white_90: rgba(255, 255, 255, 0.90);
$black_10: rgba(0,0,0, 0.1);
$color_fuscous_gray_approx: #555555;
$color_alto_approx: #ddd;
$white_97: rgba(255, 255, 255, 0.97);

//urls
$url_0: url(../images/parallax/5.jpg);

@media only screen and(min-width: 1920px) {
	.home {
		background-size: 100%;
	}
	.slides-container div {
		background-size: 100%;
	}
}
@media only screen and(max-width: 1170px) {
	// #navigation {
	// 	padding: 0 20px;
	// }
	.post-dates {
		width: 6%;
	}
	.post-details {
		width: 93%;
	}
}
@media only screen and(max-width: 1024px) {
	.hometext {
		font-size: 100px;
		line-height: 90px;
	}
	.fixed-text {
		font-size: 55px;
	}
	.timeline-images a.timeline-image {
		margin-right: 5px;
	}
}
@media only screen and(min-width: 970px) {
	.col-xs-2 {
		width: 33.333%;
		margin: 0 auto 0;
	}
	.col-xs-5 {
		width: 33.333%;
		margin: 0 auto 0;
	}
	.col-xs-7 {
		width: 33.333%;
		margin: 0 auto 0;
	}
	.col-xs-10 {
		width: 33.333%;
		margin: 0 auto 0;
	}
	.home {
		background-size: 110%;
	}
	.slides-container div {
		background-size: 110%;
	}
}
@media only screen and(max-width: 970px) {
	.home {
		background-size: auto 120%;
	}
	.col-xs-2 {
		width: 50%;
		margin: 0 auto 0;
	}
	.col-xs-5 {
		width: 50%;
		margin: 0 auto 0;
	}
	.col-xs-7 {
		width: 50%;
		margin: 0 auto 0;
	}
	.col-xs-10 {
		width: 50%;
		margin: 0 auto 0;
	}
	.galleryup {
		width: 49.9%;
		margin: 0 auto 0;
	}
	.hometext {
		font-size: 80px;
		line-height: 70px;
	}
	.fixed-text {
		font-size: 50px;
	}
	.not-visible-nav {
		opacity: 1;
	}
	#navigation {
		.nav-menu {
			display: none;
			height: auto;
			top: 100%;
			left: 0;
			width: 100%;
			position: absolute;
			background: $white_90;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 1px 4px $black_10;
		}
		a.mini-nav-button {
			display: block;
		}
		ul.nav {
			li {
				display: inline-block;
				height: auto;
				width: 100%;
				a {
					display: block;
					height: auto;
					width: 100%;
					padding: 0 20px;
					color: $color_fuscous_gray_approx;
					border-top: none;
					line-height: 40px;
					&:hover {
						border-top: none;
						background: $color_alto_approx;
					}
				}
				&.active a {
					border-top: none;
					background: $color_alto_approx;
				}
			}
			ul.dropdown-menu {
				width: 100%;
				position: relative;
				margin: 0;
				padding: 0;
				background: $white_97!important;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 1px 4px $black_10;
				li {
					width: 100%;
					a {
						border-top: none;
						padding: 5px 15px;
						line-height: 30px;
					}
				}
			}
		}
	}
	.slides-container div {
		background-size: auto 120%;
	}
	#home .v5 .typographic {
		width: 80%;
		.hometexts-5 {
			height: 117px;
		}
	}
}
@media only screen and(max-width: 800px) {
	.home {
		background-size: auto 100%;
	}
	.hometexts-1 {
		font-size: 80px;
		line-height: 95px;
	}
	.hometext {
		font-size: 80px;
		line-height: 110px;
	}
	.loader-item {
		left: 48%;
	}
	.fixed-text {
		font-size: 40px;
	}
	.h-item {
		font-size: 11px;
	}
	.about-box {
		width: 50%;
	}
	.service-box {
		width: 33.3%;
	}
	.note-arrow {
		position: absolute;
		top: -22px;
		right: 50%;
		margin-right: -8px;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(90deg);
	}
	.timeline-images {
		margin: 0 auto;
		text-align: center;
		width: 100%;
		left: 0;
		a.timeline-image {
			display: inline-block;
			margin: 0 auto;
			float: none;
			clear: both;
		}
	}
	.accourdion-menu {
		width: 85%;
		float: none;
		margin: 0 auto;
		text-align: center;
		h1 {
			text-align: center !important;
		}
		h4 {
			text-align: center !important;
		}
	}
	.why-portola-accordion {
		.accordion-toggle {
			display: inline-block;
		}
		span.positive-s {
			float: none;
			display: inline-block;
			top: 7px;
		}
	}
	.fun-acts {
		width: 90%;
		margin: 0 auto;
	}
	.post-dates {
		width: 8%;
	}
	.post-details {
		width: 90%;
	}
	.search-button {
		width: 25%;
	}
	.slides-container div {
		background-size: auto 100%;
	}
	.footer img {
		max-width: 200px;
	}
	#history ul.timeline {
		padding: 0 0 80px;
		li.note {
			width: 90%;
			min-height: 100px;
			float: none;
			margin: 75px auto;
			clear: both;
			&:nth-of-type(2n) {
				float: none;
				.note-arrow {
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: rotate(-90deg);
					left: 50%;
					margin-left: -8px;
				}
				.timeline-images a.timeline-image {
					display: inline-block;
					margin: 0 auto;
					float: none;
					clear: both;
				}
			}
			&:after {
				display: none;
			}
		}
	}
	#why-we .left {
		float: none;
		margin: 0 auto 30px;
		width: 70%;
		background-position: left center;
	}
	.team-members .member {
		width: 50%;
	}
	#fun-acts .fun-acts {
		.imac {
			margin: 20px auto;
			min-height: 500px;
		}
		.facts .fact {
			width: 50%;
			margin: 0 auto 20px;
			height: 190px;
		}
	}
	ul.tables li.pricing-table {
		width: 50%;
		margin-bottom: 20px;
	}
	.blog-s .post-details {
		width: 90%;
	}
	.sidebar .sidebar-segment .search {
		width: 100%;
	}
}
@media only screen and(max-width: 768px) {
	.f-box {
		width: 50%;
	}
	.col-xs-2 {
		width: 100%;
		margin: 0 auto 20px;
	}
	.col-xs-3 {
		width: 100%;
		margin: 0 auto 20px;
	}
	.col-xs-4 {
		width: 100%;
		margin: 0 auto 20px;
	}
	.col-xs-5 {
		width: 100%;
		margin: 0 auto 20px;
	}
	.col-xs-7 {
		width: 100%;
		margin: 0 auto 20px;
	}
	.col-xs-8 {
		width: 100%;
		margin: 0 auto 20px;
	}
	.col-xs-9 {
		width: 100%;
		margin: 0 auto 20px;
	}
	.col-xs-10 {
		width: 100%;
		margin: 0 auto 20px;
	}
	.galleryup {
		width: 100%;
		margin: 0 auto 20px;
	}
	#home .v5 .typographic .hometexts-5 {
		height: 100px;
		ul li {
			font-size: 35px;
			line-height: 60px;
		}
	}
	#fun-acts .fun-acts .imac {
		margin: 20px auto;
	}
	.v2 .home-arrow {
		bottom: 5%;
	}
	#blog .blog .posts .post {
		width: 90%;
	}
}
@media only screen and(max-width: 640px) {
	.hometexts-1 {
		font-size: 45px;
		line-height: 55px;
	}
	.post-dates {
		width: 10%;
	}
	.post-details {
		width: 85%;
	}
	.blog-s .post-details {
		width: 85%;
	}
}
@media only screen and(max-width: 480px) {
	.home {
		background-size: auto 700px;
	}
	#home {
		.v2 .typographic {
			width: 80%;
		}
		.v5 .typographic .hometexts-5 {
			height: 85px;
			ul li {
				font-size: 20px;
				line-height: 45px;
			}
		}
	}
	.hometext {
		font-size: 35px;
		line-height: 50px;
	}
	.fixed-text {
		font-size: 20px;
	}
	.hometexts-1 {
		font-size: 40px;
		line-height: 45px;
	}
	.about-box {
		width: 100%;
	}
	.service-box {
		width: 100%;
	}
	.timeline-images {
		bottom: -30px;
		a.timeline-image {
			width: 60px;
			height: 60px;
			img {
				width: 60px;
				height: 60px;
			}
		}
	}
	.f-box {
		width: 100%;
	}
	.accourdion-menu {
		width: 100%;
	}
	.post-dates {
		width: 15%;
	}
	.post-details {
		width: 82%;
	}
	.slides-container div {
		background-size: auto 700px;
	}
	#why-we .left {
		width: 90%;
		background-position: left center;
		background-size: 100%;
		.holder1 {
			width: 132px;
		}
		.holder2 {
			width: 122px;
		}
		.holder3 {
			width: 132px;
		}
	}
	.team-members .member {
		width: 100%;
	}
	#fun-acts .fun-acts {
		.imac {
			margin: 0 auto;
		}
		.facts .fact {
			width: 90%;
			margin: 0 auto 30px;
			float: none;
		}
	}
	.video-button p.video-text {
		font-size: 25px;
		line-height: 30px;
	}
	ul.tables li.pricing-table {
		width: 100%;
		margin-bottom: 30px;
	}
	#contact-us div {
		width: 100%;
	}
	.blog-s .post-details {
		width: 82%;
	}
}
@media only screen and(max-width: 360px) {
	.hometexts-1 {
		font-size: 40px;
		line-height: 50px;
	}
	.timeline-images {
		bottom: -25px;
		a.timeline-image {
			width: 50px;
			height: 50px;
			img {
				width: 50px;
				height: 50px;
			}
		}
	}
	.hometext {
		font-size: 40px;
		line-height: 40px;
	}
	.fixed-text {
		font-size: 22px;
	}
	.loader-item {
		left: 46.5%;
	}
	.post-details {
		width: 80%;
		.post-header {
			font-size: 22px;
		}
	}
	.block {
		display: block;
	}
	.search-button {
		width: 15%;
	}
	#services {
		background: $url_0 top center fixed;
		padding: 55px 0;
		overflow: hidden;
	}
	.home-details {
		width: 95%;
		.logo img {
			max-width: 200px;
		}
	}
	.h-item {
		padding: 5px 9px 5px 0;
		font-size: 10px;
	}
	.post-dates {
		width: 19%;
	}
	.inner-details .member-details .member-details-inner {
		top: 7%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(-0%);
	}
	#map .google-map-big-button {
		font-size: 15px;
	}
	.filter-menu ul li {
		margin: 10px auto;
		a {
			line-height: 0;
		}
	}
	.sidebar .sidebar-segment .search {
		width: 100%;
	}
	#fun-acts .fun-acts .imac {
		margin: 20px auto;
		min-height: 250px;
	}
	#home .v2 .typographic {
		h2 {
			font-size: 60%;
		}
		.logo img {
			max-width: 200px;
		}
	}
	.footer img {
		max-width: 200px;
	}
	.blog-s .post-details {
		width: 80%;
	}
}