.navigation {
  transition: all 0.5s;

  @media only screen and(max-width: 1170px) {
    padding: 0 20px;
  }

  &--dark {
    background: $black_60;
    box-shadow: 0 1px 4px $black_50;
  }
  &--light {
    background: $white_90;
    box-shadow: 0 1px 4px $black_50;
  }

  &__inner {
    width: 100%;
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    &:after {
      clear: both;
    }
  }
}

.site-brand {
  font-size: 3.5em;
  float: left;
  position: relative;
  padding-top: 8px;
  top: 50%;
  transform: translateY(-50%);

  &__logo {
    display: block;
  }
  &__logo--light {
    color: $white;
  }
  &__logo--dark {
    color: $color_woodsmoke_approx;
  }
}

.hamburger {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 50%;

  @media only screen and(max-width: 970px) {
    display: block;
  }

  &--normal {
    color: $color_mountain_mist_approx;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    transform: translateY(-50%);

    &:hover {
      color: $color_curious_blue_approx;
      transition: all 0.3s;
    }
  }
}

.nav-menu {
  float: right;
  height: 100%;

  @media only screen and(max-width: 970px) {
    display: none;
    height: auto;
    top: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    background: $white_90;
    box-shadow: 0 1px 4px $black_10;
  }

  
  // ul.nav {
  //   height: 100%;
  // }
}

ul {
  &.nav ul.dropdown-menu {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background: $white_97;
    box-shadow: 0 1px 4px $black_25;
    li {
      width: 100%;
      height: auto;
      a {
        height: auto;
        padding: 10px;
        margin: 0;
        display: block;
        width: 100%;
        color: $color_woodsmoke_approx;
        line-height: 20px;
        border: none;
        font-size: 1em;
      }
    }
  }
  &.dropdown-menu li a:hover {
    border: none;
    background: $black_10;
    color: $color_curious_blue_approx !important;
  }
}

#navigation {
  // position: fixed;
  // width: 100%;
  // height: 75px;
  // z-index: 1031;
  // transition: all 0.5s;
  // .mini-nav-button {
  //   color: $color_tapa_approx;
  //   display: none;
  //   width: 40px;
  //   height: 40px;
  //   text-align: center;
  //   font-size: 25px;
  //   position: absolute;
  //   right: 15px;
  //   top: 50%;
  //   cursor: pointer;
  //   transform: translateY(-50%);
  //   &:hover {
  //     color: $color_curious_blue_approx;
  //     transition: all 0.3s;
  //   }
  // }
}
.not-visible-nav {
}
.visible-nav {
  top: 0;
}
.white-nav {
  // background: $white_90;
  // box-shadow: 0 1px 4px $black_50;
  li {
    a {
      &:hover {
        background: $color_alto_approx;
        color: $color_curious_blue_approx;
      }
      &:focus {
        background: $color_curious_blue_approx;
        color: $white !important;
      }
    }
    &.active a {
      color: $color_curious_blue_approx;
    }
  }
  // .site-logo a.logo {
  //   color: $color_woodsmoke_approx;
  //   display: block;
  // }
}

.dark-nav {
  // background: $black_60;
  // box-shadow: 0 1px 4px $black_50;
  ul {
    &.dropdown-menu {
      background: $black_90 !important;
      li a {
        color: $white;
        &:hover {
          border: none;
          background: $color_storm_dust_25_approx;
        }
      }
    }
    &.nav ul.dropdown-menu li a {
      color: $color_celeste_approx;
    }
  }
  // .site-logo a.logo {
  //   color: $white;
  //   display: block;
  // }
  .nav li {
    a {
      color: $color_celeste_approx;
      &:hover {
        background: $color_log_cabin_approx;
        color: $color_curious_blue_approx;
      }
      &:focus {
        background: $color_curious_blue_approx;
        color: $white !important;
      }
    }
    &.active a {
      color: $color_curious_blue_approx;
    }
  }
}
.soft-nav {
  background: $white_5;
}
// .nav-inner {
//   width: 100%;
//   max-width: 1170px;
//   height: 100%;
//   margin: 0 auto;
//   &:after {
//     clear: both;
//   }
// }
// .site-logo {
//   font-size: 3.5em;
//   float: left;
//   position: relative;
//   padding-top: 8px;
//   top: 50%;
//   transform: translateY(-50%);
//   a.logo img {
//     height: auto;
//     max-height: 189px;
//     transition: all 1s;
//   }
// }
.nav-menu {
  // float: right;
  // height: 100%;
  ul.nav {
    height: 100%;
  }
}

